src/Compliance.Solution/Solution/Workflows/Allegation-Create-GenerateChecklistbasedontemplate-5D69364A-D857-EA11-A811-000D3AF46CC5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "opc_sharedcommondataserviceforapps_1a2e4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_Allegation_is_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "opc_allegation",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Legislation_Allegation_Type": {
          "runAfter": {
            "Get_Legislation_from_Complaint": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "opc_legislationallegationtypes",
              "$filter": "statecode eq 0 and _opc_leglislation_value eq @{outputs('Get_Legislation_from_Complaint')?['body/_opc_legislation_value']} and _opc_allegationtype_value eq @{triggerOutputs()?['body/_opc_allegationtypeid_value']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Legislation_from_Complaint": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "opc_complaints",
              "recordId": "@triggerOutputs()?['body/_opc_complaintid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Legislation_Allegation_Type": {
          "foreach": "@outputs('Get_Legislation_Allegation_Type')?['body/value']",
          "actions": {
            "Get_Checklist_Types_for_Legislation_Allegation_Type": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "opc_checklisttype_legislationallegationtypeset",
                  "$filter": "opc_legislationallegationtypeid eq @{items('Apply_to_each_Legislation_Allegation_Type')?['opc_legislationallegationtypeid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Checklist_Type": {
              "foreach": "@outputs('Get_Checklist_Types_for_Legislation_Allegation_Type')?['body/value']",
              "actions": {
                "Get_Question_Templates_linked_to_Checklist_Type": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_questiontemplates",
                      "$select": "opc_questiontemplateid,_opc_checklisttypeid_value,opc_sequence,opc_name,_opc_parentquestiontemplateid_value",
                      "$filter": "statecode eq 0 and _opc_checklisttypeid_value eq @{items('Apply_to_each_Checklist_Type')?['opc_checklisttypeid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_Question_Template": {
                  "foreach": "@outputs('Get_Question_Templates_linked_to_Checklist_Type')?['body/value']",
                  "actions": {
                    "Create_Checklist_Response_based_on_Question_Template": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "opc_checklistresponses",
                          "item/opc_allegationid@odata.bind": "/opc_allegations(@{triggerOutputs()?['body/opc_allegationid']})",
                          "item/opc_name": "@{items('Apply_to_each_Question_Template')?['opc_sequence']} - @{items('Apply_to_each_Question_Template')?['opc_name']}",
                          "item/opc_questiontemplateid@odata.bind": "opc_questiontemplates(@{items('Apply_to_each_Question_Template')?['opc_questiontemplateid']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Question_Templates_linked_to_Checklist_Type": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Checklist_Types_for_Legislation_Allegation_Type": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_Legislation_Allegation_Type": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}