src/Compliance.Solution/Solution/Workflows/Complaint-Create-GenerateRiskAssessmentbasedontemp-B07ACB09-5247-EA11-A812-000D3AF46B49.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Complaint_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"opc_complaint","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Risk_Assessment_Types":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"opc_riskassessmenttypes","$select":"opc_riskassessmenttypeid,opc_name","$filter":"statecode eq 0"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Risk_Assessment_Types')?['body/value']","actions":{"Create_new_Risk_Assessment_associated_to_Complaint":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"opc_riskassessments","item/opc_Complaint@odata.bind":"/opc_complaints(@{triggerOutputs()?['body/opc_complaintid']})","item/opc_name":"@{triggerOutputs()?['body/opc_number']}-@{items('Apply_to_each')?['opc_name']}","item/opc_RiskAssessmentType@odata.bind":"/opc_riskassessmenttypes(@{items('Apply_to_each')?['opc_riskassessmenttypeid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Risk_Assessment_Types":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}