src/Compliance.Solution/Solution/Workflows/Contact-CreateUpdate-SendMultipleComplaintStrategy-8F4E4358-7A73-EA11-A811-000D3AF45C52.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_contact_is_created_or_updated_and_MCS_is_applied": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "opc_multiplecomplaintstrategy",
              "subscriptionRequest/filterexpression": "opc_multiplecomplaintstrategy ne 924340000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_AdminUserAccountId_variable": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AdminUserAccountId",
                "type": "string"
              }
            ]
          }
        },
        "Get_Admin_User_Account": {
          "runAfter": {
            "Initialize_AdminUserAccountId_variable": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "$filter": "domainname eq 'SVC_OPC_CRM_Admin@priv.gc.ca'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each_user_retrieved": {
          "foreach": "@outputs('Get_Admin_User_Account')?['body/value']",
          "actions": {
            "Set_AdminUserAccountId_variable": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "AdminUserAccountId",
                "value": "@items('For_each_user_retrieved')?['systemuserid']"
              }
            }
          },
          "runAfter": {
            "Get_Admin_User_Account": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "If_Multiple_Complaint_Strategy_is_Proposed": {
          "actions": {
            "Get_All_Compliance_Intake_Managers": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "fetchXml": "<fetch mapping=\"logical\" version=\"1.0\">\n<entity name=\"systemuser\">\n<link-entity name=\"systemuserroles\" from=\"systemuserid\" to=\"systemuserid\">\n<link-entity name=\"role\" from=\"roleid\" to=\"roleid\" link-type=\"inner\" alias=\"role\">\n<filter type=\"and\">\n<condition attribute=\"name\" operator=\"eq\" value=\"Compliance - Intake Manager\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_Each_Compliance_Intake_Manager": {
              "foreach": "@outputs('Get_All_Compliance_Intake_Managers')?['body/value']",
              "actions": {
                "Create_a_Notification_MCS_Proposed": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_notifications",
                      "item/opc_notifybyemail": false,
                      "item/opc_name": "A contact has been proposed for the Multiple Complaint Strategy and is waiting for approval.",
                      "item/ownerid@odata.bind": "systemusers(@{items('For_Each_Compliance_Intake_Manager')?['systemuserid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_All_Compliance_Intake_Managers": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "For_each_user_retrieved": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "If_Complainant_has_an_email": {
                "actions": {
                  "Create_Email_Message_for_Complainant": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "emails",
                        "item/activitypointer_activity_parties": [
                          {
                            "participationtypemask": 1,
                            "partyid@odata.bind": "systemusers(@{variables('AdminUserAccountId')})"
                          },
                          {
                            "participationtypemask": 2,
                            "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/contactid']})"
                          }
                        ],
                        "item/description": "(English follows) <br />\nMonsieur/Madame <br />\nLa présente a pour but de vous informer que le Commissariat à la protection de la vie privée du Canada (le « CPVP ») ne fera pas enquête pour le moment sur les nouvelles plaintes que vous avez déposées, eu égard au grand nombre de plaintes et de correspondances déjà reçues de votre part. <br />\n<br />\n**********************************************************<br />\n<br />\n(English) <br />\nMr./Mrs. <br />\nThis is to advise that in light of the large number of complaints and correspondence you have submitted to the Office of the Privacy Commissioner of Canada (OPC) in recent months, we will not be investigating your new complaints at this time. <br />",
                        "item/subject": "CPVP/OPC - Plaintes Multiples/Multiple Complaints"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Create_Email_Message_for_Intake_Manager": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "systemusers(@{variables('AdminUserAccountId')})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "systemusers(@{triggerOutputs()?['body/_modifiedby_value']})"
                            }
                          ],
                          "item/description": "(English follows) <br />\nNous n'avons pas pu envoyer un courriel au plaintif @{triggerOutputs()?['body/fullname']} pour leur laisser savoir qu'ils font maintenant partie de la Stratégie pour les Plaintes Multiples parce qu'ils n'ont pas d'adresse courriel. <br />\n<br />\nVeuillez leur envoyer la lettre d'avis ci-joint par courrier. <br />\n<br />\n**********************************************************<br />\n<br />\n(English) <br />\nWe could not send an email to the complainant @{triggerOutputs()?['body/fullname']} to let them know they are now part of Multiple Complaint Strategy because they don't have an email address.  <br />\n<br />\nPlease send the attached letter of notification by mail. <br />",
                          "item/subject": "Warning: Could not send MCS letter of notification to complainant."
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Send_Email_Message_for_Intake_Manager": {
                      "runAfter": {
                        "Create_Email_Message_for_Intake_Manager": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Create_Email_Message_for_Intake_Manager')?['body/activityid']",
                          "item/IssueSend": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "not": {
                    "equals": [
                      "@triggerOutputs()?['body/emailaddress1']",
                      "@null"
                    ]
                  }
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/opc_multiplecomplaintstrategy']",
              924340001
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}