src/Compliance.Solution/Solution/Workflows/Contact-CreateUpdate-Checkforduplicates-4D3E610E-F448-EA11-A812-000D3AF46CC5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Contact_is_created_or_updated": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable_to_count_field_matches_for_retrieved_Contacts": {
          "runAfter": {
            "Initialize_variable_to_count_file_matches_for_source_Contacts": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Retrieved Contact Field Matches",
                "type": "Integer",
                "value": 0
              }
            ]
          }
        },
        "Check_Source_Contact_is_Active": {
          "actions": {
            "Retrieve_all_Contacts_with_same_First_name_and_Last_name": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "$select": "contactid,firstname,lastname,telephone1,telephone2,address1_postalcode,emailaddress1,opc_duplicatedetectionresult",
                  "$filter": "contactid ne '@{triggerOutputs()?['body/contactid']}' and firstname eq '@{triggerOutputs()?['body/firstname']}' and lastname eq '@{triggerOutputs()?['body/lastname']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_retrieved_Contact": {
              "foreach": "@outputs('Retrieve_all_Contacts_with_same_First_name_and_Last_name')?['body/value']",
              "actions": {
                "Set_variable_to_2,_since_First_name_and_Last_name_are_already_match": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Retrieved Contact Field Matches",
                    "value": 2
                  }
                },
                "Contact's_Primary_Phone_matches": {
                  "actions": {
                    "Increment_variable_based_on_Primary_Phone_matching": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Retrieved Contact Field Matches",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Set_variable_to_2,_since_First_name_and_Last_name_are_already_match": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_retrieved_Contact')?['telephone1']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@items('Apply_to_each_retrieved_Contact')?['telephone1']",
                          "@triggerOutputs()?['body/telephone1']"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Contact's_Secondary_Phone_matches": {
                  "actions": {
                    "Increment_variable_based_on_Secondary_Phone_matching": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Retrieved Contact Field Matches",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Contact's_Primary_Phone_matches": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_retrieved_Contact')?['telephone2']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@items('Apply_to_each_retrieved_Contact')?['telephone2']",
                          "@triggerOutputs()?['body/telephone2']"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Contact's_Postal_Code_matches": {
                  "actions": {
                    "Increment_variable_based_on_Postal_Code_matching": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Retrieved Contact Field Matches",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Contact's_Secondary_Phone_matches": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_retrieved_Contact')?['address1_postalcode']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@items('Apply_to_each_retrieved_Contact')?['address1_postalcode']",
                          "@triggerOutputs()?['body/address1_postalcode']"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Contact's_Email_matches": {
                  "actions": {
                    "Increment_variable_based_on_Email_matching": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Retrieved Contact Field Matches",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Contact's_Postal_Code_matches": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_retrieved_Contact')?['emailaddress1']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@items('Apply_to_each_retrieved_Contact')?['emailaddress1']",
                          "@triggerOutputs()?['body/emailaddress1']"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Retrieved_Contact_Field_Matches:_5_or_more": {
                  "actions": {
                    "Check_retrieved_Contact's_result_needs_update_to_\"Duplicate_found\"": {
                      "actions": {
                        "Set_retrieved_Contact's_Duplicate_Detection_Result_to_\"Duplicate_found\"": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@items('Apply_to_each_retrieved_Contact')?['contactid']",
                              "item/opc_duplicatedetectionresult": 924340002
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "not": {
                          "equals": [
                            "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                            924340002
                          ]
                        }
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Contact's_Email_matches": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Retrieved_Contact_Field_Matches:_2_or_more": {
                        "actions": {
                          "Check_retrieved_Contact's_result_needs_update_to_\"Potential_duplicate\"": {
                            "actions": {
                              "Set_retrieved_Contact's_Duplicate_Detection_Result_to_\"Potential_duplicate\"": {
                                "runAfter": {},
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "contacts",
                                    "recordId": "@items('Apply_to_each_retrieved_Contact')?['contactid']",
                                    "item/opc_duplicatedetectionresult": 924340001
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {},
                            "expression": {
                              "and": [
                                {
                                  "not": {
                                    "equals": [
                                      "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                                      924340002
                                    ]
                                  }
                                },
                                {
                                  "not": {
                                    "equals": [
                                      "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                                      924340001
                                    ]
                                  }
                                }
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Check_retrieved_Contact's_result_needs_update_to_\"None\"": {
                              "actions": {
                                "Set_retrieved_Contact's_Duplicate_Detection_Result_to_\"None\"": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "contacts",
                                      "recordId": "@items('Apply_to_each_retrieved_Contact')?['contactid']",
                                      "item/opc_duplicatedetectionresult": 924340000
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {},
                              "expression": {
                                "and": [
                                  {
                                    "not": {
                                      "equals": [
                                        "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                                        924340002
                                      ]
                                    }
                                  },
                                  {
                                    "not": {
                                      "equals": [
                                        "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                                        924340001
                                      ]
                                    }
                                  },
                                  {
                                    "not": {
                                      "equals": [
                                        "@items('Apply_to_each_retrieved_Contact')?['opc_duplicatedetectionresult']",
                                        924340000
                                      ]
                                    }
                                  }
                                ]
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "greaterOrEquals": [
                            "@variables('Retrieved Contact Field Matches')",
                            2
                          ]
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "greaterOrEquals": [
                      "@variables('Retrieved Contact Field Matches')",
                      5
                    ]
                  },
                  "type": "If"
                },
                "Retrieved_Contact_Field_Matches_is_greater_than_Source_Contact_Field_Matches": {
                  "actions": {
                    "Set_Source_Contact_Field_Matches_to_Retrieved_Contact_Field_Matches": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Source Contact Field Matches",
                        "value": "@variables('Retrieved Contact Field Matches')"
                      }
                    }
                  },
                  "runAfter": {
                    "Retrieved_Contact_Field_Matches:_5_or_more": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "greater": [
                      "@variables('Retrieved Contact Field Matches')",
                      "@variables('Source Contact Field Matches')"
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Retrieve_all_Contacts_with_same_First_name_and_Last_name": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "At_least_1_match_was_found_the_list_of_Contacts": {
              "actions": {
                "Source_Contact_Field_Matches:_5_or_more": {
                  "actions": {
                    "Check_source_Contact's_result_needs_update_to_\"Duplicate_found\"": {
                      "actions": {
                        "Set_source_Contact's_Duplicate_Detection_Result_to_\"Duplicate_found\"": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@triggerOutputs()?['body/contactid']",
                              "item/opc_duplicatedetectionresult": 924340002
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "not": {
                          "equals": [
                            "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                            924340002
                          ]
                        }
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Source_Contact_Field_Matches:_2_or_more": {
                        "actions": {
                          "Check_source_Contact's_result_needs_update_to_\"Potential_duplicate\"": {
                            "actions": {
                              "Set_source_Contact's_Duplicate_Detection_Result_to_\"Potential_duplicate\"": {
                                "runAfter": {},
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "contacts",
                                    "recordId": "@triggerOutputs()?['body/contactid']",
                                    "item/opc_duplicatedetectionresult": 924340001
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {},
                            "expression": {
                              "and": [
                                {
                                  "not": {
                                    "equals": [
                                      "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                                      924340002
                                    ]
                                  }
                                },
                                {
                                  "not": {
                                    "equals": [
                                      "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                                      924340001
                                    ]
                                  }
                                }
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Check_source_Contact's_result_needs_update_to_\"None\"": {
                              "actions": {
                                "Set_source_Contact's_Duplicate_Detection_Result_to_\"None\"": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "contacts",
                                      "recordId": "@triggerOutputs()?['body/contactid']",
                                      "item/opc_duplicatedetectionresult": 924340000
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {},
                              "expression": {
                                "and": [
                                  {
                                    "not": {
                                      "equals": [
                                        "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                                        924340002
                                      ]
                                    }
                                  },
                                  {
                                    "not": {
                                      "equals": [
                                        "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                                        924340001
                                      ]
                                    }
                                  },
                                  {
                                    "not": {
                                      "equals": [
                                        "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                                        924340000
                                      ]
                                    }
                                  }
                                ]
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "greaterOrEquals": [
                            "@variables('Source Contact Field Matches')",
                            2
                          ]
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "greaterOrEquals": [
                      "@variables('Source Contact Field Matches')",
                      5
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Apply_to_each_retrieved_Contact": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_Contact's_result_needs_update_to_\"None\"": {
                    "actions": {
                      "Set_Contact's_Duplicate_Detection_Result_to_\"None\"": {
                        "runAfter": {},
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@triggerOutputs()?['body/contactid']",
                            "item/opc_duplicatedetectionresult": 924340000
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "not": {
                        "equals": [
                          "@triggerOutputs()?['body/opc_duplicatedetectionresult']",
                          924340000
                        ]
                      }
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(outputs('Retrieve_all_Contacts_with_same_First_name_and_Last_name')?['body/value'])",
                  1
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_to_count_field_matches_for_retrieved_Contacts": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statecode']",
              0
            ]
          },
          "type": "If"
        },
        "Initialize_variable_to_count_file_matches_for_source_Contacts": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Source Contact Field Matches",
                "type": "Integer",
                "value": 0
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}