src/Compliance.Solution/Solution/Workflows/Createdailynotificationsfromreminders-2FF3126A-183D-EA11-A812-000D3AF46CC5.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["4"]}},"type":"Recurrence"}},"actions":{"List_Today_Active_Reminders":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"opc_reminders","$filter":"statecode eq 0 and opc_reminderdate ge '@{utcNow('yyyy-MM-ddT05:00:00Z')}' and opc_reminderdate le '@{utcNow('yyyy-MM-ddT23:59:59Z')}'"},"authentication":"@parameters('$authentication')"}},"Get_Admin_User_Account":{"runAfter":{"List_Today_Active_Reminders":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"systemusers","recordId":"e3f1c462-47fa-4e41-8b27-ff84842afe3b"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Today_Active_Reminders')?['body/value']","actions":{"If_Notify_Case_Owner_=_TRUE":{"actions":{"Create_Notification_for_Case_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opc_notifications","item/opc_name":"@items('Apply_to_each')?['opc_name']","item/opc_notifybyemail":"@items('Apply_to_each')?['opc_notifybyemail']","item/ownerid@odata.bind":"systemusers(@{variables('RelatedCaseOwnerId')})"},"authentication":"@parameters('$authentication')"}},"If_Notify_by_Email_=_TRUE":{"actions":{"Create_Email_Message_for_Case_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"systemusers(@{outputs('Get_Admin_User_Account')?['body/systemuserid']})"},{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{variables('RelatedCaseOwnerId')})"}],"item/description":"@items('Apply_to_each')?['opc_name']","item/subject":"Reminder for @{variables('RelatedCaseNumber')}"},"authentication":"@parameters('$authentication')"}},"Send_Email_Message_for_Case_Owner":{"runAfter":{"Create_Email_Message_for_Case_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email_Message_for_Case_Owner')?['body/activityid']","item/IssueSend":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Notification_for_Case_Owner":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each')?['opc_notifybyemail']","@true"]},"type":"If"}},"runAfter":{"If_contains_Related_Complaint,_set_Related_Case_Variables":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each')?['opc_notifycaseowner']","@true"]},"type":"If"},"If_Notify_Me_=_TRUE":{"actions":{"Create_Notification_for_Reminder_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opc_notifications","item/opc_name":"@items('Apply_to_each')?['opc_name']","item/opc_notifybyemail":"@items('Apply_to_each')?['opc_notifybyemail']","item/ownerid@odata.bind":"systemusers(@{items('Apply_to_each')?['_ownerid_value']})"},"authentication":"@parameters('$authentication')"}},"If_Notify_by_Email_=_TRUE_(2)":{"actions":{"Create_Email_Message_for_Reminder_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"systemusers(@{outputs('Get_Admin_User_Account')?['body/systemuserid']})"},{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{items('Apply_to_each')?['_ownerid_value']})"}],"item/description":"@items('Apply_to_each')?['opc_name']","item/subject":"Reminder for @{variables('RelatedCaseNumber')}"},"authentication":"@parameters('$authentication')"}},"Send_Email_Message_for_Reminder_Owner":{"runAfter":{"Create_Email_Message_for_Reminder_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email_Message_for_Reminder_Owner')?['body/activityid']","item/IssueSend":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Notification_for_Reminder_Owner":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each')?['opc_notifybyemail']","@true"]},"type":"If"}},"runAfter":{"If_contains_Related_Complaint,_set_Related_Case_Variables":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each')?['opc_notifyme']","@true"]},"type":"If"},"Get_Other_Users_to_Notify":{"runAfter":{"If_contains_Related_Complaint,_set_Related_Case_Variables":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"opc_reminder_userset","$filter":"opc_reminderid eq '@{items('Apply_to_each')?['opc_reminderid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_Other_Users_to_Notify')?['body/value']","actions":{"Create_Notification_for_Other_Users":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opc_notifications","item/opc_name":"@items('Apply_to_each')?['opc_name']","item/opc_notifybyemail":"@items('Apply_to_each')?['opc_notifybyemail']","item/ownerid@odata.bind":"systemusers(@{items('Apply_to_each_2')?['systemuserid']})"},"authentication":"@parameters('$authentication')"}},"If_Notify_by_Email_=_TRUE_(3)":{"actions":{"Create_Email_Message_for_Other_Users":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"systemusers(@{outputs('Get_Admin_User_Account')?['body/systemuserid']})"},{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{items('Apply_to_each_2')?['systemuserid']})"}],"item/description":"@items('Apply_to_each')?['opc_name']","item/subject":"Reminder for @{variables('RelatedCaseNumber')}"},"authentication":"@parameters('$authentication')"}},"Send_Email_Message_for_Other_Users":{"runAfter":{"Create_Email_Message_for_Other_Users":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email_Message_for_Other_Users')?['body/activityid']","item/IssueSend":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Notification_for_Other_Users":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each')?['opc_notifybyemail']","@true"]},"type":"If"}},"runAfter":{"Get_Other_Users_to_Notify":["Succeeded"]},"type":"Foreach"},"Update_current_Reminder":{"runAfter":{"If_Notify_Case_Owner_=_TRUE":["Succeeded"],"If_Notify_Me_=_TRUE":["Succeeded"],"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"opc_reminders","recordId":"@items('Apply_to_each')?['opc_reminderid']","item/statecode":1},"authentication":"@parameters('$authentication')"}},"If_contains_Related_Complaint,_set_Related_Case_Variables":{"actions":{"Get_Related_Case":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"opc_complaints","recordId":"@items('Apply_to_each')?['_opc_complaintid_value']"},"authentication":"@parameters('$authentication')"}},"Set_RelatedCaseNumber_variable":{"runAfter":{"Get_Related_Case":["Succeeded"]},"type":"SetVariable","inputs":{"name":"RelatedCaseNumber","value":"@outputs('Get_Related_Case')?['body/opc_number']"}},"Set_RelatedCaseOwnerId_variable":{"runAfter":{"Set_RelatedCaseNumber_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"RelatedCaseOwnerId","value":"@outputs('Get_Related_Case')?['body/_ownerid_value']"}}},"runAfter":{},"expression":{"not":{"equals":["@items('Apply_to_each')?['_opc_complaintid_value']","@null"]}},"type":"If"}},"runAfter":{"Initialize_RelatedCaseOwnerId_variable":["Succeeded"]},"type":"Foreach"},"Initialize_RelatedCaseNumber_variable":{"runAfter":{"Get_Admin_User_Account":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RelatedCaseNumber","type":"String","value":"you"}]}},"Initialize_RelatedCaseOwnerId_variable":{"runAfter":{"Initialize_RelatedCaseNumber_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RelatedCaseOwnerId","type":"String"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}