src/Compliance.Solution/Solution/Workflows/IndividualComplaint-CreateUpdate-RoutingRule-0B8AC528-6E5D-EA11-A811-000D3AF464F8.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Complaint_BPF_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"opc_individualcomplaint_bp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"activestageid,statecode","subscriptionRequest/filterexpression":"statecode eq 0"},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Active_Stage_is_Triage":{"case":"e0bf78b2-9a4e-44f1-8d12-b5ed83ce3c6f","actions":{"Route_to_Triage_queue":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"queues","actionName":"Microsoft.Dynamics.CRM.AddToQueue","recordId":"0318d98e-8a5c-ea11-a811-000d3af46fff","item/Target":"opc_complaints(@{triggerOutputs()?['body/_bpf_opc_complaintid_value']})"},"authentication":"@parameters('$authentication')"}}}},"Active_Stage_is_Intake":{"case":"a6c493c6-ac5e-434e-ac45-233fcca6aef2","actions":{"Route_to_Backlog_queue":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"queues","actionName":"Microsoft.Dynamics.CRM.AddToQueue","recordId":"c1545086-8d5c-ea11-a811-000d3af46fff","item/Target":"opc_complaints(@{triggerOutputs()?['body/_bpf_opc_complaintid_value']})"},"authentication":"@parameters('$authentication')"}}}},"Active_Stage_is_Acceptance":{"case":"f4dd2c83-cf58-4328-a1c7-515dc7a977a8","actions":{"Route_to_Review_queue":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"queues","actionName":"Microsoft.Dynamics.CRM.AddToQueue","recordId":"4645d1a6-8d5c-ea11-a811-000d3af46fff","item/Target":"opc_complaints(@{triggerOutputs()?['body/_bpf_opc_complaintid_value']})"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}