src/Compliance.Solution/Solution/Workflows/Recurrence-ListrecordsApplytoeachUnrelaterecordsRe-73BF0240-65B5-EA11-A812-000D3AF46CC5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "0"
              ]
            }
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_records": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "opc_queues_teams",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"opc_queues_teams\" />\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_records')?['body/value']",
          "actions": {
            "Unrelate_records": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "DisassociateEntities",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "recordId": "@items('Apply_to_each')?['queueid']",
                  "associationEntityRelationship": "opc_queues_teams_membership",
                  "$id": "https://opc-compliance-queuemembership.crm3.dynamics.com/api/data/v9.1/teams(@{items('Apply_to_each')?['teamid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Relate_records": {
              "runAfter": {
                "Unrelate_records": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "AssociateEntities",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "recordId": "@items('Apply_to_each')?['queueid']",
                  "associationEntityRelationship": "opc_queues_teams_membership",
                  "item/@odata.id": "https://opc-compliance-queuemembership.crm3.dynamics.com/api/data/v9.1/teams(@{items('Apply_to_each')?['teamid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_records": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}