src/Compliance.Solution/Solution/Workflows/Reminder-Daily-Createdailynotifications-663C0E6A-9046-EA11-A812-000D3AF46CC5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "hours": [
                "4"
              ]
            }
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_Today_Active_Reminders": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "opc_reminders",
              "$filter": "statecode eq 0 and opc_reminderdate ge '@{utcNow('yyyy-MM-ddT01:00:00Z')}' and opc_reminderdate le '@{utcNow('yyyy-MM-ddT23:59:59Z')}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_reminders": {
          "foreach": "@outputs('List_Today_Active_Reminders')?['body/value']",
          "actions": {
            "If_Notify_Case_Owner_=_TRUE": {
              "actions": {
                "Create_Notification_for_Case_Owner": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_notifications",
                      "item/opc_notifybyemail": "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                      "item/opc_name": "@items('Apply_to_each_reminders')?['opc_name']",
                      "item/ownerid@odata.bind": "systemusers(@{variables('RelatedCaseOwnerId')})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "If_Notify_by_Email_=_TRUE": {
                  "actions": {
                    "Create_Email_Message_for_Case_Owner": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "systemusers(@{variables('AdminUserAccountId')})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "systemusers(@{variables('RelatedCaseOwnerId')})"
                            }
                          ],
                          "item/description": "(English follows) <br />\nUn dossier est prêt à être révisé. <br />\nRaison: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Case_Owner')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Case_Owner')?['body/opc_notificationid']}'>Cliquez Ici</a> <br />\n<br />\n**********************************************************<br />\n<br />\n(English) <br />\nA case is ready for review. <br />\nReason: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Case_Owner')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Case_Owner')?['body/opc_notificationid']}'>Click Here</a>",
                          "item/subject": "Reminder for @{variables('RelatedCaseNumber')}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Send_Email_Message_for_Case_Owner": {
                      "runAfter": {
                        "Create_Email_Message_for_Case_Owner": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Create_Email_Message_for_Case_Owner')?['body/activityid']",
                          "item/IssueSend": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "If_Complaint_is_not_null_(2)": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                      "@true"
                    ]
                  },
                  "type": "If"
                },
                "If_Complaint_is_not_null_(2)": {
                  "actions": {
                    "Associate_Notification_with_Complaint_(2)": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "opc_notifications",
                          "recordId": "@outputs('Create_Notification_for_Case_Owner')?['body/opc_notificationid']",
                          "item/opc_complaintid@odata.bind": "opc_complaints(@{variables('RelatedComplaintID')})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Create_Notification_for_Case_Owner": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_Related_Case')?['body/opc_complaintid']",
                        "@null"
                      ]
                    }
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "If_contains_Related_Complaint,_set_Related_Case_Variables": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@items('Apply_to_each_reminders')?['opc_notifycaseowner']",
                  "@true"
                ]
              },
              "type": "If"
            },
            "If_Notify_Me_=_TRUE": {
              "actions": {
                "Create_Notification_for_Reminder_Owner": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_notifications",
                      "item/opc_notifybyemail": "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                      "item/opc_name": "@items('Apply_to_each_reminders')?['opc_name']",
                      "item/ownerid@odata.bind": "systemusers(@{items('Apply_to_each_reminders')?['_ownerid_value']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "If_Notify_by_Email_=_TRUE_(2)": {
                  "actions": {
                    "Create_Email_Message_for_Reminder_Owner": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "systemusers(@{variables('AdminUserAccountId')})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "systemusers(@{items('Apply_to_each_reminders')?['_ownerid_value']})"
                            }
                          ],
                          "item/description": "(English follows) <br />\nUn dossier est prêt à être révisé. <br />\nRaison: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Reminder_Owner')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Reminder_Owner')?['body/opc_notificationid']}'>Cliquez Ici</a> <br />\n<br />\n**********************************************************<br />\n<br />\n(English) <br />\nA case is ready for review. <br />\nReason: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Reminder_Owner')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Reminder_Owner')?['body/opc_notificationid']}'>Click Here</a>",
                          "item/subject": "Reminder for @{variables('RelatedCaseNumber')}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Send_Email_Message_for_Reminder_Owner": {
                      "runAfter": {
                        "Create_Email_Message_for_Reminder_Owner": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Create_Email_Message_for_Reminder_Owner')?['body/activityid']",
                          "item/IssueSend": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "If_Complaint_is_not_null": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                      "@true"
                    ]
                  },
                  "type": "If"
                },
                "If_Complaint_is_not_null": {
                  "actions": {
                    "Associate_Notification_with_Complaint": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "opc_notifications",
                          "recordId": "@outputs('Create_Notification_for_Reminder_Owner')?['body/opc_notificationid']",
                          "item/opc_complaintid@odata.bind": "opc_complaints(@{variables('RelatedComplaintID')})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Create_Notification_for_Reminder_Owner": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_Related_Case')?['body/opc_complaintid']",
                        "@null"
                      ]
                    }
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "If_contains_Related_Complaint,_set_Related_Case_Variables": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@items('Apply_to_each_reminders')?['opc_notifyme']",
                  "@true"
                ]
              },
              "type": "If"
            },
            "Update_current_Reminder": {
              "runAfter": {
                "If_Notify_Case_Owner_=_TRUE": [
                  "Succeeded"
                ],
                "If_Notify_Me_=_TRUE": [
                  "Succeeded"
                ],
                "If_Notify_Additional_Users_=_TRUE": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "opc_reminders",
                  "recordId": "@items('Apply_to_each_reminders')?['opc_reminderid']",
                  "item/statecode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "If_contains_Related_Complaint,_set_Related_Case_Variables": {
              "actions": {
                "Get_Related_Case": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_complaints",
                      "recordId": "@items('Apply_to_each_reminders')?['_opc_complaintid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_RelatedCaseNumber_variable": {
                  "runAfter": {
                    "Set_RelatedComplaintID_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RelatedCaseNumber",
                    "value": "@outputs('Get_Related_Case')?['body/opc_number']"
                  }
                },
                "Set_RelatedCaseOwnerId_variable": {
                  "runAfter": {
                    "Set_RelatedCaseNumber_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RelatedCaseOwnerId",
                    "value": "@outputs('Get_Related_Case')?['body/_ownerid_value']"
                  }
                },
                "Set_RelatedComplaintID_variable": {
                  "runAfter": {
                    "Get_Related_Case": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RelatedComplaintID",
                    "value": "@outputs('Get_Related_Case')?['body/opc_complaintid']"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "equals": [
                    "@items('Apply_to_each_reminders')?['_opc_complaintid_value']",
                    "@null"
                  ]
                }
              },
              "type": "If"
            },
            "If_Notify_Additional_Users_=_TRUE": {
              "actions": {
                "Get_Other_Users_to_Notify": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "opc_reminder_userset",
                      "$filter": "opc_reminderid eq '@{items('Apply_to_each_reminders')?['opc_reminderid']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_additional_users_to_notify": {
                  "foreach": "@outputs('Get_Other_Users_to_Notify')?['body/value']",
                  "actions": {
                    "Create_Notification_for_Other_Users": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "opc_notifications",
                          "item/opc_notifybyemail": "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                          "item/opc_name": "@{items('Apply_to_each_reminders')?['opc_name']} ",
                          "item/ownerid@odata.bind": "systemusers(@{items('Apply_to_each_additional_users_to_notify')?['systemuserid']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "If_Notify_by_Email_=_TRUE_(3)": {
                      "actions": {
                        "Create_Email_Message_for_Other_Users": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "item/activitypointer_activity_parties": [
                                {
                                  "participationtypemask": 1,
                                  "partyid@odata.bind": "systemusers(@{variables('AdminUserAccountId')})"
                                },
                                {
                                  "participationtypemask": 2,
                                  "partyid@odata.bind": "systemusers(@{items('Apply_to_each_additional_users_to_notify')?['systemuserid']})"
                                }
                              ],
                              "item/description": "(English follows) <br />\nUn dossier est prêt à être révisé. <br />\nRaison: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Other_Users')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Other_Users')?['body/opc_notificationid']}'>Cliquez Ici</a> <br />\n<br />\n**********************************************************<br />\n<br />\n(English) <br />\nA case is ready for review. <br />\nReason: @{items('Apply_to_each_reminders')?['opc_name']} <br />\n<a href='@{first(split(outputs('Create_Notification_for_Other_Users')?['body']?['@odata.id'],'/api/'))}/Apps/uniquename/opc_compliance/main.aspx?pagetype=entityrecord&etn=opc_notification&id=@{outputs('Create_Notification_for_Other_Users')?['body/opc_notificationid']}'>Click Here</a>",
                              "item/subject": "Reminder for @{variables('RelatedCaseNumber')}"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_Email_Message_for_Other_Users": {
                          "runAfter": {
                            "Create_Email_Message_for_Other_Users": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "PerformBoundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                              "recordId": "@outputs('Create_Email_Message_for_Other_Users')?['body/activityid']",
                              "item/IssueSend": false
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "If_Complaint_is_not_null_(3)": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each_reminders')?['opc_notifybyemail']",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "If_Complaint_is_not_null_(3)": {
                      "actions": {
                        "Associate_Notification_with_Complaint_(1)": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "opc_notifications",
                              "recordId": "@outputs('Create_Notification_for_Other_Users')?['body/opc_notificationid']",
                              "item/opc_complaintid@odata.bind": "opc_complaints(@{variables('RelatedComplaintID')})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Create_Notification_for_Other_Users": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_Related_Case')?['body/opc_complaintid']",
                            "@null"
                          ]
                        }
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Get_Other_Users_to_Notify": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "If_contains_Related_Complaint,_set_Related_Case_Variables": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@items('Apply_to_each_reminders')?['opc_notifyadditionalusers']",
                  "@true"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_RelatedCaseOwnerId_variable": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_RelatedCaseNumber_variable": {
          "runAfter": {
            "Initialize_RelatedComplaintID_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RelatedCaseNumber",
                "type": "String",
                "value": "you"
              }
            ]
          }
        },
        "Initialize_RelatedCaseOwnerId_variable": {
          "runAfter": {
            "Initialize_RelatedCaseNumber_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RelatedCaseOwnerId",
                "type": "String"
              }
            ]
          }
        },
        "Get_Admin_User_Account": {
          "runAfter": {
            "Initialize_AdminUserAccountId_variable": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "$filter": "domainname eq 'SVC_OPC_CRM_Admin@priv.gc.ca'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_AdminUserAccountId_variable": {
          "runAfter": {
            "List_Today_Active_Reminders": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AdminUserAccountId",
                "type": "String"
              }
            ]
          }
        },
        "For_each_user_retrieved": {
          "foreach": "@outputs('Get_Admin_User_Account')?['body/value']",
          "actions": {
            "Set_AdminUserAccountId_variable": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "AdminUserAccountId",
                "value": "@items('For_each_user_retrieved')?['systemuserid']"
              }
            }
          },
          "runAfter": {
            "Get_Admin_User_Account": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_RelatedComplaintID_variable": {
          "runAfter": {
            "For_each_user_retrieved": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RelatedComplaintID",
                "type": "String"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}