src/Compliance.Solution/Solution/Workflows/RiskAssessment-Create-GenerateRiskAssessmentCatego-DA27E040-5247-EA11-A812-000D3AF46B49.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Risk_Assessment_is_Created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "opc_riskassessment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_associated_Risk_Assessment_Category_Templates": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "opc_riskassessmentcategorytemplates",
              "$select": "opc_riskassessmentcategorytemplateid,opc_name,opc_sequence",
              "$filter": "statecode eq 0 and _opc_riskassessmenttype_value eq @{triggerOutputs()?['body/_opc_riskassessmenttype_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Risk_Assessment_Category_Template": {
          "foreach": "@outputs('Get_associated_Risk_Assessment_Category_Templates')?['body/value']",
          "actions": {
            "Create_Risk_Assessment_Category": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "opc_riskassessmentcategories",
                  "item/opc_name": "@items('Apply_to_each_Risk_Assessment_Category_Template')?['opc_name']",
                  "item/opc_RiskAssessment@odata.bind": "/opc_riskassessments(@{triggerOutputs()?['body/opc_riskassessmentid']})",
                  "item/opc_RiskAssessmentType@odata.bind": "/opc_riskassessmenttypes(@{triggerOutputs()?['body/_opc_riskassessmenttype_value']})",
                  "item/opc_sequence": "@items('Apply_to_each_Risk_Assessment_Category_Template')?['opc_sequence']",
                  "item/opc_RiskAssessmentCategoryTemplate@odata.bind": "/opc_riskassessmentcategorytemplates(@{items('Apply_to_each_Risk_Assessment_Category_Template')?['opc_riskassessmentcategorytemplateid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_associated_Risk_Assessment_Category_Templates": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}